<div class="container">
  <h1>New Booking</h1>
</div>
<div class="container">
  <%= simple_form_for(@booking) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :notes %>
    <%= f.submit %>
  <% end %>
</div>
