<div class="container">
  <h1>New Rental Request</h1>
</div>

<div class="form-container">
  <div class="container m-5 p-5">
    <%= simple_form_for [@item, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :notes %>
      <%= f.button :submit, class: "btn btn-gradient btn-lg"%>
      <% end %>
  </div>
</div>
