<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class = "d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex" do %>
        <%= image_tag "https://tse1.mm.bing.net/th?id=OIP.DLwi70Wk4MA9rUMcKpRGqwHaHi&pid=Api&rs=1&c=1&qlt=95&w=111&h=113" %>
        <h1 class = "px-4 mb-0">Vanity Fur</h1>
      <% end %>
      <%= link_to "Shoes", shoes_items_path, class: "nav-link" %>
      <%= link_to "Hats", hats_items_path, class: "nav-link" %>
      <%= link_to "Hoodies", hoodies_items_path, class: "nav-link" %>
      <%= link_to "Jackets", jackets_items_path, class: "nav-link" %>
      <%= link_to "Harness", harness_items_path, class: "nav-link" %>
    </div>
    <div>
      <%= form_tag items_path, method: :get, class: "d-flex", id: "search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find the cutest doggy outfit" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to "Share your sWAG", new_item_path, class: "btn btn-primary mx-5" %>
              <%= image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "Shop", items_path, class: "dropdown-item" %>
              <%= link_to "Add Item", new_item_path, class: "dropdown-item" %>
              <%= link_to "My Items", my_items_path, class: "dropdown-item" %>
              <%= link_to "Order History", '/bookings', class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Share your sWAG", new_item_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
