
<div class = "show-container">
<h1 class= "d-flex justify-content-center"><%= @item.name  %></h1>
  <div class="carousel">
    <div class="gallery gallery-b js-flickity"
    data-flickity-options='{ "asNavFor": ".gallery-a" }'>
    <% @item.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    </div>
  </div>

  <div class="details">
    <p id="owner"> Owned by: <%= @item.user.first_name %> <%= image_tag "https://thumbs.dreamstime.com/z/happy-smiling-geek-hipster-beard-man-cool-avatar-geek-man-avatar-104871313.jpg", style: 'height:50px; width:100px; margin-bottom:20px' %></p>
    <h3> £<%= @item.price  %></h3>
    <p>Size: <%= @item.size  %></p>
    <p><%= @item.description %></p>
    <p>Rating: <%= @item.rating %></p>
  </div>
</div>

<p><%= link_to "Rent this item", new_item_booking_path(@item) %></p>
<p><%= link_to "Back to all items", items_path %></p>
