<div>
<h3>Name: <%= @item.name  %> £<%= @item.price  %></h3>
<p>Size: <%= @item.size  %></p>
<p><%= @item.description %></p>
<p>Rating: <%= @item.rating %></p>
<% @item.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>
<p><%= link_to "Rent this item", new_item_booking_path(@item) %></p>
<p><%= link_to "Back to all items", items_path %></p>
